<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <title>Login</title>
  </head>

  <body>
    <%- include('header'); %>

    <div id="login-main">
      <div id="login-msg-container">
        <h3 id="login-msg">Message:</h3>
        <div id="msg-box">
          <p id="confirm-msg">
            If you haven't signed up yet, please
            <a href="/signup">sign up</a> first.
          </p>
          <p><%= locals.message %></p>
        </div>
      </div>

      <form id="login-form" action="/login" method="post">
        <p>USER NAME:</p>
        <input type="text" name="username" placeholder="Username" required />
        <p>PASSWORD:</p>
        <input type="password" name="password" placeholder="Password" required />
        <button id="login-button" type="submit">Login</button>
      </form>
    </main>

    <%- include('footer.ejs'); %>
  </div>
</body>
</html>
